<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
Region: {{.RegName}}
    Hotels: 
        {{range .Hotels}}
        - {{.Name}}
          {{.Address}}
          {{.Town}}
          {{.ZIP}}
        {{end}}
{{end}}
</body>
</html>