<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
Restaurant: {{.RestaurantName}}
    Food Menu: 
        {{range .FoodMenu}}
        - {{.TypeFood}}:
          {{.Beverage}}
          {{.MainCourse}}
          {{.Starter}}
          {{.Dessert}}
        {{end}}
{{end}}
</body>
</html>